/* ALL FONT STYLE */
.open-sans-all {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* NAV STYLE */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}
.extra-bold{
    font-weight: 800;
    font-size: 45px;
}
.only-r-style{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
}
nav ul{
    display: flex;
}
.share-style{
    font-weight: normal;
    font-size: 20px;
    color: #474747;
}

/* SHARED STYLE */
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 20px 35px
}
.hi-am{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.mary{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.regular{
    font-weight: normal;
    font-size: 18px;
    color: #757575;
}
.bonding{
    display: flex;
    justify-content: space-between;
    
}
.banner-container{margin-left: 200px;
    margin-bottom: 15px;
   
}
.handy-pic{
    width: 584px;
    height: 676px;
}
.backround-col{
    color: #FFF8F3;
}
header{
    background-image: url(../batch9-portfolio-resources/images/developer.png), url(../batch9-portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.about-items{
    display: flex;
    justify-content: space-between;
}
.common-col-1{
    font-weight: bold;
    font-size: 35px;
    color: #181818;

}

.common-col-2{
    font-weight: normal;
    font-size: 18px;
    color: #757575;}
    
    .item-description{
        font-weight: bold;
        font-size: 20px;
        color: #474747;
    }
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
    .about{
        border-radius: 10px;
        padding: 130px 150px;
        text-align: center;
        margin-top: 130px;
        
    }
.secondary-bg{background-color: #FFF8F3;}
.text-centre{
    text-align: center;
}
    
.skill-container{
    display: flex;
    margin-right: 24px;
    
    gap: 25px;
    
}
.skill-title{
    font-weight: bold;
    font-size: 20px;
    color: #181818;
}
.skill-description{
    font-weight: normal;
    font-size: 16px;
    color: #757575;
}
.skill{
    padding: 30px;
   box-shadow: 0px 6px 50px 0px black;
   border-radius: 5px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume{
    margin-bottom: 
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    color: #474747;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
}
.experience-sub-title{
    font-weight: 600px;
    font-size: 20px;
    color: #757575;
}
.experience-description{
    font-weight: normal;
    font-size: 16px;
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.cvrafi{
    margin-top: 30px;
}

}
.social-links a{
    margin-right: 24px;
}
footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 125px;
    justify-content: space-between;
    
}

.footer -column{
    width: 50%;
}
.contact input[type="text"], textarea{display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    width: 100%;
    border-radius: 5px;
    border: opx;
}